html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

.daggert {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -265.5px;
  width: 800px;
  height: 531px;
  background: url("/img/daggert.jpg");
}
.daggert .opinion {
  box-sizing: border-box;
  position: absolute;
  left: 18px;
  top: 271px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  float: left;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 48px;
  text-align: center;
  width: 280px;
}
.daggert .opinion:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 50px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  left: 280px;
}

/*# sourceMappingURL=css.css.map */
