$imageWidth: 800px;
$imageHeight: 531px;
$opinionArrowHeight: 20px;
$opinionArrowWidth: 50px;
$opinionWidth: 280px;
$opinionPadding: 10px;
$opinionPositionX: 18px;
$opinionPositionY: 271px;
$opinionBg: #fff;

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
}

.daggert {
    position: absolute;
    left: 50%;
    margin-left: -$imageWidth/2;
    top: 50%;
    margin-top: -$imageHeight/2;
    width: $imageWidth;
    height: $imageHeight;
    background: url('/img/daggert.jpg');

    .opinion {
        box-sizing: border-box;
        position: absolute;
        left: $opinionPositionX;
        top: $opinionPositionY;
        border-radius: $opinionPadding;
        background: $opinionBg;
        padding: $opinionPadding;
        float: left;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 48px;
        text-align: center;
        width: $opinionWidth;
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $opinionArrowHeight/2 0 $opinionArrowHeight/2 $opinionArrowWidth;
            border-color: transparent transparent transparent $opinionBg;
            position: absolute;
            left: $opinionWidth;
        }
    }
}
